{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block tailleimage %}

{% endblock %}

{% block body %}



    <div>
            <div style="position: relative">
                <div style="position: absolute;top: 4%; left:43%"><h2>Bienvenue</h2></div>
                <img src="{{ asset('images/image1.png') }}" height="600px" width="100%">

            </div>


    </div>


        

    <div class="row justify-content-center">
    {% for service in services %}
        <div class="col-md-4 mb-4 d-flex align-items-center flex-column" style="padding: 0;" >

            <h2 class="my-5 h2">{{ service.nom }}</h2>
            <div class="zoom">
                <div class="image">
                    <a href="#" style="height: 400px;width: 400px" class="d-flex align-items-center flex-column"><img class="rounded-circle z-depth-2" alt="100x100" src="{{ asset('images/imagesUpload/'~  service.image ) }}"width="50%" height="50%"
                    data-holder-rendered="true"></a>
                </div>
            </div>
        </div>



    {% endfor %}

    </div>

{% endblock %}
