{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}



    <form action="{{ path('add_annonce', { id:1 }) }}" method="post">
        <input type="text" name="price" placeholder="Prix">
        <input type="text" name="city" placeholder="city">
        <input type="date" name="dateAvailable" >
        <input type="time" name="hour" >
        <input type="text" name="description" placeholder="description">

        <select name="sousService">

        {% for sousService in sousServices %}

            <option value="{{ sousService.id }}">{{ sousService.nom }}</option>

        {% endfor %}

        </select>

        <br>





        <button type="submit">valider</button>
    </form>






{% endblock %}
