{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}




{% block body %}


    {% for service in services %}
        <div>
            <a href="{{ path('add_annonce', {id:service.id}) }}">{{ service.nom }}</a>

        </div>
    {% endfor %}

{% endblock %}
